element {
    --square-size: 20px;
    --default-size: 16;
}

body {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 184, 184);
}

#container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;
    
}

.gridElement {
    height: 31.25px;
    width: 31.25px;
}

.square-hover {
    background-color: black;
}