element {
    --square-size: 20px;
    --default-size: 16;
}

body {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgb(189, 190, 192);
    height: 320px;
    width: 320px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, 20px);
    
}

.gridElement {
    background-color: black;
    height: 20px;
    width: 20px;
    border: 0.1px solid rgb(255, 213, 213);
}

.square-hover {
    background-color: red;
}